html {
  font-family: "Noto Sans JP", sans-serif;
}

.pop {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* ヘッダー */
header {
  padding: 27px 0;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
.logo span {
  color: #856fde;
}
.header_menu li {
  margin-left: 40px;
}
/* メニューがゆっくり黒になる */
.header_menu li a {
  transition: .3s;
}
/* メニューがゆっくり紫になる */
.header_menu li a:hover {
  color: #856fde;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  .header_menu li {
    margin: 20px 9px 0;
  }
}

/* メイン（「About me」「Portfolio」「Study Notebook」） */
#hero {
  background-image: url(./images/top_image.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;
}
#hero::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1;
}
.hero_inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
/* 「Thanks for visiting my website!」のとこ */
.hero_inner p {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* 「Kenの～」のとこ */
.hero_inner h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .hero_inner p {font-size: 30px;}
  .hero_inner h3 {font-size: 16px;}
}

/* 「About me」の部分 */
/* 見出しつきの実線についてまとめて定義しておく */
hr {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  overflow: visible;
}
/* 見出し「About me」 */
.hr1 {
  border-top: 3px solid black;
  text-align: left;
}
.hr1::after {
  content: 'About me';
  display: inline-block;
  position: relative;
  top: -34px;
  padding: 0 3px;
  background: #fff;
  color: black;
  font-size: 25px;
}
/* 自己紹介 */
#selfintro {
  margin-bottom: 30px;
}
/* .selfintro_inner {
  margin-bottom: 30px;
  position: relative;
} */
.column {
  width: 40%;
}
#selfintro img {
  border-radius: 20px;
  margin-left: 50px;
}

/* 自己紹介の表について */
#introtable {
  margin-top: -227px;
  margin-left: 28%;
  margin-right: 5%;
  width: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #eee;
}
th {
  width: 20%;
}
td {
  width: 80%;
}
th, td {
  padding: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
    margin-bottom: 30px;
  }
  #selfintro img {
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  }
  #introtable {
  margin-top: -20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #introtable {
  margin-top: -160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  #introtable {
  margin-top: -200px;
  }
}

/* 「Portfolio」の部分 */
/* 見出し「Portfolio」 */
.hr2 {
  border-top: 3px solid black;
  text-align: left;
}
.hr2::after {
  content: 'Portfolio';
  display: inline-block;
  position: relative;
  top: -34px;
  padding: 0 3px;
  background: #fff;
  color: black;
  font-size: 25px;
}
/* カードを4列で表示 */
.card-group{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 1040px;
  width: 90%;
  height: auto;
   /* カードの横並べ折り返しのレイアウトを実現する */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* 左右の間隔をあける */
.card-group > :not(:nth-child(4n+1)){
  margin-left: 20px;
}
/* 上下の間隔をあける */
.card-group > :nth-child(n+5){
  margin-top: 20px;
}
.card{
  /* 余白をのぞいた１行分の幅を横幅に設定 */
  width: calc((100% - 20px * 3) / 4);
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2)
}
.card__imgframe{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: #bbb;
  background-size: auto;
  box-sizing: border-box;
}
.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

@media only screen and (max-width: 768px) {
  .card-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 1024px;
    width: 90%;
    height: auto;
    /* カードの横並べ折り返しのレイアウトを実現する */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* 左右の間隔をあける */
  .card-group > :not(:nth-child(2n)){
    margin-left: 5%;
  }
  /* 上下の間隔をあける */
  .card-group > :nth-child(n+3){
    margin-top: 20px;
  }
  .card{
    /* 余白をのぞいた１行分の幅を横幅に設定 */
    width: calc((100% - 20% * 1) / 2);
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
  }
}

/* 「StudyNotebook」の部分 */
/* 見出し「StudyNotebook」 */
.hr3 {
  border-top: 3px solid black;
  text-align: left;
}
.hr3::after {
  content: 'Study Notebook';
  display: inline-block;
  position: relative;
  top: -34px;
  padding: 0 3px;
  background: #fff;
  color: black;
  font-size: 25px;
}
/* カードの表示は「Portfolio」にて定義したのでOK */

/* フッター */
footer {
  text-align: center;
  margin: 90px 0;
}
.copyright {
  font-size: 12px;
  margin-top: 40px;
}
